html, body {
    min-height: 100% !important;
    height: 100%;
}

.page-container {
    padding-left: 0 !important;
    background: #10171e;
}

.motto {
    color: lightgray;
    margin-top: 10px;
    margin-bottom: 25px;
}

.header-desktop {
    left: 0;
    background-color: #808080;
    background-image: -moz-linear-gradient(150deg, #10171e 65%, #6ec34e 5%);
    background-image: -webkit-linear-gradient(150deg, #10171e 65%, #6ec34e 5%);
    background-image: -ms-linear-gradient(150deg, #10171e 65%, #6ec34e 5%);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#account-container {
    max-width: 1950px;
}

.remove-account-btn {
    float: right;
    margin-right: -10px;
    margin-top: -25px;
    color: darkseagreen;
    cursor: pointer;
}

.more-info-btn {
    margin-left: 5px;
    font-family: monospace;
    font-size: 14px;
    color: #f5f5f5;
    font-weight: bold;
    vertical-align: text-top;
    margin-right: -10px;
}

.remove-account-btn:hover, .more-info-btn:hover {
    color: white;
    font-weight: bold;
}

h2 {
    color: black;
}

.header-button .noti__item i {
    font-size: 30px;
    color: black;
}

#config-btn {
    padding: 0 10px;
}

#config-btn img {
    height: 27px;
}

#config-panel .crypto-logo {
    height: 30px;
    margin: 0;
}

#config-panel a {
    font-size: 26px;
    padding: 10px;
    font-family: monospace;
    margin-top: 15px;
}

#config-panel p {
    font-size: 16px;
    font-family: monospace;
    padding-left: 20px;
    margin-top: 15px;
}

#config-panel .color-theme-panel a {
    width: 120px;
    cursor: pointer;
    font-size: 20px;
}

#config-panel .color-theme-panel a div {
    width: 40px;
    height: 20px;
    border-radius: 5px;
    margin: -10px auto 3px;
}

.vex.vex-theme-flat-attack .vex-dialog-button.vex-dialog-button-primary {
    background: #6ec34e;
    color: #fff;
    font-size: 20px;
}

#right-footer {
    position: fixed;
    bottom: 10px;
    right: 45px;
    color: white;
    font-family: monospace;
    padding: 3px 5px;
    border: 1px solid;
    border-radius: 6px;
}

#left-footer {
    position: fixed;
    bottom: 10px;
    left: 45px;
    color: white;
    font-family: monospace;
    padding: 3px 5px;
    border: 1px solid;
    border-radius: 6px;
}

#left-footer img {
    width: 150px;
    margin-top: -40px;
    margin-bottom: -40px;
    margin-left: -55px;
    margin-right: -50px;
}

#new-account-panel input, #new-account-panel select {
    font-size: 14px;
    padding: 6px;
    border-radius: 3px;
    background-color: #404040;
    color: white;
    height: 46px;
    border: none;
}

#new-account-panel input::placeholder {
    color: white;
}

.overview-box .text h2 {
    max-width: 210px;
    overflow: hidden;
}

.main-content {
    padding-top: 90px;
    min-height: 100vh;
}

.account-item .image {
    border: 1px solid black;
}

.au-btn:hover {
    color: #fff;
    background: #6ec34e;
}

.overview-box .icon .zmdi {
    font-size: 75px;
    margin-top: -5px;
}

.overview-item .usd-balance {
    color: white;
}

.overview-item .added-address {
    text-align: right;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #10171e;
}

.overview-item .added-address span {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.overview-item .added-address b {
    display: inline-block;
    width: auto;
    max-width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

.crypto-logo {
    height: 70px;
    margin-top: -50px;
    margin-right: 10px;
}

/* Responsive media queries to support all resolutions*/
@media only screen and (min-width: 1681px) {
    #account-container {
        margin: 30px auto 0 auto;
    }
}

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
    #account-container .balance-label {
        font-size: 12px;
    }

    #account-container .usd-balance {
        font-size: 16px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1440px) {
    h2 {
        font-size: 21px;
    }

    .crypto-logo {
        height: 30px;
        margin-top: -50px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 991px) {
    .page-container {
        top: 0;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .main-content {
        padding-top: 20px;
    }

    .overview-item {
        margin-bottom: 20px;
    }

    .header-desktop {
        background: #6ec34e !important;
        height: 120px;
    }

    #add-address-btn {
        color: white;
    }

    #right-footer {
        position: relative;
        background: #10171e;
        bottom: 0;
        right: 0;
        text-align: center;
        border: none;
        border-radius: 0;
    }

    #left-footer {
        position: relative;
        background: #10171e;
        bottom: 0;
        left: 0;
        text-align: center;
        border: none;
        border-radius: 0;
    }

    .header-button {
        margin-top: 0;
        width: auto;
    }

    #new-account-panel input, #new-account-panel select {
        height: 34px;
    }
}

@media only screen and (max-width: 430px) {
    h2 {
        font-size: 20px;
    }

    #acc-address {
        width: 310px !important;
    }

    #config-panel p {
        font-size: 9px;
        padding-left: 0;
    }

    #config-panel h4 {
        font-size: 14px;
        margin-top: -20px;
    }
}
